/* MOD - CATEGORIAS
 ***************************************/
.modEdesktopLojaCategorias ul.menu { border: 1px solid #ccc; }
.modEdesktopLojaCategorias ul li { display: block; position: relative; cursor: pointer; }
.modEdesktopLojaCategorias ul li a { padding: 7px 12px; display: block; background: #FFF;  }
.modEdesktopLojaCategorias ul li a.hover { background: #DDD; }
.modEdesktopLojaCategorias ul li a:hover { color: #006699; text-decoration: underline; }
.modEdesktopLojaCategorias ul li.pai ul { position: absolute; left: 185px; top: 7px; z-index: 10000; display: none; }	
.modEdesktopLojaCategorias ul li.pai ul { border: 1px solid #ccc; width: 198px; }	
