/* MOD - FABRICANTES
 ***************************************/
.modEdesktopProdutosFabricantes { margin: 20px 0; width: 198px; }
.modEdesktopProdutosFabricantes h2 { height: 29px; background: url(bg_tit.jpg) no-repeat left center; text-indent: -9999px; }
.modEdesktopProdutosFabricantes .fabricantes { text-align: center; }
.modEdesktopProdutosFabricantes .fabricantes a img { margin: 5px; }
.modEdesktopProdutosFabricantes .fabricantes { border: 1px solid #CCC; padding: 15px; }
