/* tags
 *******************************/
html, body { margin: 0; padding: 0; height: 100%; overflow: hidden; }
a img { border: none; }
* { font-size: 13px; font-family: Tahoma;  }


#geral { margin: 0; padding: 0; height: 100%; overflow: hidden; }


/* LoadBar
 *******************************/
#loadBar { position: absolute; z-index: 9998; top: 0; left: 0; background: #fff;}
#loadBar p { z-index: 99999; position: absolute; top: 0; left: 15px; width: 300px; }
#loadBar p span { float: right; }
#loadBar .bar { width: 300px; height: 15px; z-index: 99999; position: absolute; top: 32px; left: 15px; }



/* class padrões
 *******************************/
.clearfix { clear: both; height: 1%; overflow: hidden; }
.left { float: left; }



/* finder
 *******************************/
.finder { width: 160px; }
.finder span { float: left; }
.finder input { font-size: 12px; color: #999; font-style: italic; border: none;  }



/* toolbar
 *******************************/
#toolbar { height: 33px; padding: 5px 190px 5px 83px; position: relative; background: url(../img/toolbar-top.png) 50% 50%; }
#toolbar .programas { overflow: hidden; white-space: nowrap; }
#toolbar label { margin-right: 5px; height: 30px; }
#toolbar label img { position: relative; top: 2px; left: -5px; }
#toolbar .finder{ position: absolute; right: 10px; top: 10px; z-index: 999; padding: 3px 0; }
#minimizeAll { position: absolute; left: 5px; top: 6px; z-index: 999; }
#logout { position: absolute; left: 44px; top: 6px; z-index: 999; }



/* desktop
 *******************************/
#desktop { margin: 25px; position: relative; }
#desktop a.icone { padding: 0 15px 5px 15px; height: 140px; width: 80px; display: block; text-decoration: none; }
#desktop a.icone span { padding: 2px; display: block; color: #FFF; text-align: center; }
#desktop a.icone:hover span { text-decoration: underline; }



/* dialogs
 *******************************/
.ui-dialog .finder { position: absolute; top: 12px; right: 35px; width: 200px; }
.ui-dialog .finder input { width: 180px; }
.ui-dialog .ui-dialog-titlebar .ui-dialog-title img { position: relative; top: 2px; left: -5px; }
.ui-dialog .dialog { padding: 0px; overflow: hidden; background: url(../img/bg_dialog_conteudo.png) top right repeat-y; }
.ui-dialog .dialog .main { display: none; }

.ui-dialog .dialog .main .conteudo .corpo { overflow: auto; padding: 15px; height: 437px; width: 470px; float: right; }
.ui-dialog .dialog .main .conteudo .corpo h1 { font-size: 16px; margin-top: 0px; }
.ui-dialog .dialog .main .conteudo .corpo a:hover { text-decoration: underline; color: #0000FF; }
.ui-dialog .dialog .main .conteudo .corpo a.voltar { position: absolute; bottom: 40px; left: 30px; }
.ui-dialog .dialog .main .conteudo .corpo table { border-spacing: 0px; width: 100%;  border: 1px solid #DDD; }
.ui-dialog .dialog .main .conteudo .corpo table tr.bg2n td { background: #EEE; }
.ui-dialog .dialog .main .conteudo .corpo table tr.ui-widget-header td { padding: 3px 7px; height: 25px; }
.ui-dialog .dialog .main .conteudo .corpo table tr.ui-widget-content td { padding: 7px; vertical-align: top; border-bottom: 1px solid #CCC; }
.ui-dialog .dialog .main .conteudo .corpo table tr.ui-widget-content:last-child td { border-bottom: none; }
.ui-dialog .dialog .main .conteudo .corpo table tr.ui-widget-content td div.actions { margin-top: 10px; visibility: hidden; }
.ui-dialog .dialog .main .conteudo .corpo table tr.ui-widget-content td div.actions span { padding-right: 7px; margin-right: 5px; border-right: 1px solid #CCC;  }
.ui-dialog .dialog .main .conteudo .corpo table tr.ui-widget-content td div.actions span:last-child { padding-right: 0px; margin-right: 0px; border: none;  }

.ui-dialog .dialog .main .conteudo .corpo form fieldset { margin-top: 20px; border: 1px solid #DDD;  }
.ui-dialog .dialog .main .conteudo .corpo form fieldset legend { color: #0B55C4; font-size: 12px; font-family: Arial, Tahoma; font-weight: 700; }
.ui-dialog .dialog .main .conteudo .corpo form fieldset div.line { display: block; margin: 7px 0; }
.ui-dialog .dialog .main .conteudo .corpo form fieldset div.line .w100 { width: 250px; }
.ui-dialog .dialog .main .conteudo .corpo form fieldset div.line span { display: block; width: 130px; padding: 3px; margin-right: 15px; float: left; clear: both; background: #DEDEDE; }
.ui-dialog .dialog .main .conteudo .corpo form fieldset div.newLine { margin-top: 30px; }

.ui-dialog .dialog .main .finder-result { padding: 15px; overflow: auto; display: none; width: 100%; }
.ui-dialog .dialog .main .finder-result h1 { font-size: 16px; }
.ui-dialog .dialog .main .finder-result a.fechar { margin:15px 0; }
.ui-dialog .dialog .main .finder-result a:hover { text-decoration: underline; color: #0000FF; }

.ui-dialog .dialog .menu_lateral { background: #CEE3FD url(../img/bg_dialog_lateral1.png) top left no-repeat; height: 452px; padding: 15px 15px 0 30px; width: 155px; float: left; position: relative; }
.ui-dialog .dialog .menu_lateral a { display: block; margin-bottom: 10px; text-decoration: none; }
.ui-dialog .dialog .menu_lateral span { display: none; }
.ui-dialog .dialog .menu_lateral h2 { margin-bottom: 20px; }
.ui-dialog .dialog .menu_lateral p { margin-bottom: 20px; }
.ui-dialog .dialog .menu_lateral a:hover { text-decoration: underline; color: #0000FF; }
.ui-dialog .dialog .menu_lateral a.ativo:hover { color: #000; }
.ui-dialog .dialog .menu_lateral a.ativo { font-weight: bold; }
.ui-dialog .dialog .menu_lateral a.ativo span.ui-icon {  position: absolute; left: 10px; display: block; }

.ui-dialog .dialog .main .conteudo .corpo div.alertas { padding: 0 0.7em; margin-bottom: 15px; display: none; }
.ui-dialog .dialog .main .conteudo .corpo div.alertas p span.ui-icon { float: left; margin-right: 0.3em; }
.ui-dialog .dialog .main .conteudo .corpo div.alertas p.fechar { text-align: right; margin-right: 0.3em; }


/* login
 *******************************/
#login table { margin-bottom: 15px; }
#login p.aviso { color: #FF0000; }

