#loja-listadepodutos h1 { display: none; }
#loja-listadepodutos .produto { width: 170px; height: 260px; display: block; margin-bottom: 15px; padding: 0 9px; float: left; }
#loja-listadepodutos p { text-align: center; }
#loja-listadepodutos p a:hover { text-decoration: underline; }
#loja-listadepodutos .img { margin-bottom: 5px; }
#loja-listadepodutos .img a { text-decoration: none; }
#loja-listadepodutos .nome a { font-weight: 700; color: #666; }
#loja-listadepodutos .fabricante a { color: #666; }
#loja-listadepodutos .valor { font-weight: 700; color: #666; }


/* PAGINAÇÃO
 ***************************************/
#loja-paginacao { margin: 25px 0 15px 0; }
#loja-paginacao p { margin: 15px 0; }
#loja-paginacao .paginas { text-align: center; }
#loja-paginacao .paginas a { padding: 7px; margin: 0 5px; background: #F3F3F3; border: 1px solid #DDD; }
#loja-paginacao .paginas a.atual { font-weight: 700; border: 1px solid #AAA; }

